In [89]:
%run cases.ipynb

In [90]:
%run deaths.ipynb

# UK

# England

# Scotland

# Wales

# Northern Ireland

# Total E&S Region
_Combining Black Country, Birmingham and Staffordshire._

In [91]:
get_latest_cases(utlacodes_expressandstar)

          date  new cases  cumulative cases
44  2020-04-15         10              5497

In [92]:
get_latest_deaths(trustcodes_expressandstar)

  date reported  deaths  reporting diff
0    2020-04-17    1362              69

# Total Black Country and Birmingham

In [93]:
get_latest_cases(utlacodes_blackcountry)

          date  new cases  cumulative cases
41  2020-04-15          1              2224

In [94]:
get_latest_cases(utlacodes_blackcountryandbirmingham)

          date  new cases  cumulative cases
42  2020-04-15          1              4206

In [95]:
get_latest_deaths(trustcodes_blackcountryandbirmingham)

  date reported  deaths  reporting diff
0    2020-04-17    1246              64

# Wolverhampton

In [96]:
get_latest_cases(utlacodes_wolverhampton)

          date  new cases  cumulative cases
39  2020-04-15          0               501

In [97]:
get_latest_deaths(trustcodes_wolverhampton)

  date reported  deaths  reporting diff
0    2020-04-17     189               7

# Walsall

In [98]:
get_latest_cases(utlacodes_walsall)

          date  new cases  cumulative cases
37  2020-04-15          0               609

In [99]:
get_latest_deaths(trustcodes_walsall)

  date reported  deaths  reporting diff
0    2020-04-17      99               1

# Dudley

In [100]:
get_latest_cases(utlacodes_dudley)

          date  new cases  cumulative cases
37  2020-04-15          0               490

In [101]:
get_latest_deaths(trustcodes_dudley)

  date reported  deaths  reporting diff
0    2020-04-17     165               3

# Sandwell and Birmingham

In [102]:
get_latest_cases(utlacodes_sandwell)

          date  new cases  cumulative cases
35  2020-04-15          1               624

In [103]:
get_latest_cases(utlacodes_birmingham)

          date  new cases  cumulative cases
41  2020-04-15          0              1982

In [104]:
get_latest_cases(utlacodes_sandwellandbirmingham)

          date  new cases  cumulative cases
41  2020-04-15          1              2606

In [105]:
get_latest_deaths(trustcodes_sandwellandbirmingham)

  date reported  deaths  reporting diff
0    2020-04-17     793              53

# Staffordshire

In [106]:
get_latest_cases(utlacodes_staffordshire)

          date  new cases  cumulative cases
41  2020-04-15          6              1051

In [107]:
get_latest_cases(utlacodes_stoke)

          date  new cases  cumulative cases
31  2020-04-15          3               240

In [108]:
get_latest_cases(utlacodes_staffordshireandstoke)

          date  new cases  cumulative cases
41  2020-04-15          9              1291

## Total Staffordshire Deaths
_North Staffordshire Combined Healthcare NHS Trust (RLY) + University Hospitals of North Midlands NHS Trust (RJE)_

In [109]:
get_latest_deaths(trustcodes_staffordshire)

  date reported  deaths  reporting diff
0    2020-04-17     116               5

# Worcestershire

In [110]:
get_latest_cases(utlacodes_worcestershire)

          date  new cases  cumulative cases
37  2020-04-15          0               718

In [111]:
get_latest_deaths(trustcodes_worcestershire)

  date reported  deaths  reporting diff
0    2020-04-17     128               7