In [112]:
%run cases.ipynb

In [113]:
%run deaths.ipynb

# UK

# England

# Scotland

# Wales

# Northern Ireland

# Total E&S Region
_Combining Black Country, Birmingham and Staffordshire._

In [114]:
get_latest_cases(utlacodes_expressandstar)

          date  new cases  cumulative cases
45  2020-04-16         13              5747

In [115]:
get_latest_deaths(trustcodes_expressandstar)

  date reported  deaths  reporting diff
0    2020-04-17    1362              69

# Total Black Country and Birmingham

In [116]:
get_latest_cases(utlacodes_blackcountry)

          date  new cases  cumulative cases
42  2020-04-16          0              2323

In [117]:
get_latest_cases(utlacodes_blackcountryandbirmingham)

          date  new cases  cumulative cases
43  2020-04-16          0              4387

In [118]:
get_latest_deaths(trustcodes_blackcountryandbirmingham)

  date reported  deaths  reporting diff
0    2020-04-17    1246              64

# Wolverhampton

In [119]:
get_latest_cases(utlacodes_wolverhampton)

          date  new cases  cumulative cases
40  2020-04-16          0               518

In [120]:
get_latest_deaths(trustcodes_wolverhampton)

  date reported  deaths  reporting diff
0    2020-04-17     189               7

# Walsall

In [121]:
get_latest_cases(utlacodes_walsall)

          date  new cases  cumulative cases
38  2020-04-16          0               627

In [122]:
get_latest_deaths(trustcodes_walsall)

  date reported  deaths  reporting diff
0    2020-04-17      99               1

# Dudley

In [123]:
get_latest_cases(utlacodes_dudley)

          date  new cases  cumulative cases
38  2020-04-16          0               518

In [124]:
get_latest_deaths(trustcodes_dudley)

  date reported  deaths  reporting diff
0    2020-04-17     165               3

# Sandwell and Birmingham

In [125]:
get_latest_cases(utlacodes_sandwell)

          date  new cases  cumulative cases
36  2020-04-16          0               660

In [126]:
get_latest_cases(utlacodes_birmingham)

          date  new cases  cumulative cases
42  2020-04-16          0              2064

In [127]:
get_latest_cases(utlacodes_sandwellandbirmingham)

          date  new cases  cumulative cases
42  2020-04-16          0              2724

In [128]:
get_latest_deaths(trustcodes_sandwellandbirmingham)

  date reported  deaths  reporting diff
0    2020-04-17     793              53

# Staffordshire

In [129]:
get_latest_cases(utlacodes_staffordshire)

          date  new cases  cumulative cases
42  2020-04-16          7              1102

In [130]:
get_latest_cases(utlacodes_stoke)

          date  new cases  cumulative cases
32  2020-04-16          6               258

In [131]:
get_latest_cases(utlacodes_staffordshireandstoke)

          date  new cases  cumulative cases
42  2020-04-16         13              1360

## Total Staffordshire Deaths
_North Staffordshire Combined Healthcare NHS Trust (RLY) + University Hospitals of North Midlands NHS Trust (RJE)_

In [132]:
get_latest_deaths(trustcodes_staffordshire)

  date reported  deaths  reporting diff
0    2020-04-17     116               5

# Worcestershire

In [133]:
get_latest_cases(utlacodes_worcestershire)

          date  new cases  cumulative cases
38  2020-04-16          0               762

In [135]:
get_latest_deaths(trustcodes_worcestershire)

  date reported  deaths  reporting diff
0    2020-04-17     128               7

# All trust data

In [136]:
get_latest_deaths()

,code,name,date reported,deaths,reporting diff
17,RRK,UNIVERSITY HOSPITALS BIRMINGHAM NHS FOUNDATION...,2020-04-17,546,41
21,RXK,SANDWELL AND WEST BIRMINGHAM HOSPITALS NHS TRUST,2020-04-17,231,12
9,RL4,THE ROYAL WOLVERHAMPTON NHS TRUST,2020-04-17,189,7
19,RWP,WORCESTERSHIRE ACUTE HOSPITALS NHS TRUST,2020-04-17,119,7
5,RJE,UNIVERSITY HOSPITALS OF NORTH MIDLANDS NHS TRUST,2020-04-17,115,5
13,RNA,THE DUDLEY GROUP NHS FOUNDATION TRUST,2020-04-17,165,3
23,RXW,SHREWSBURY AND TELFORD HOSPITAL NHS TRUST,2020-04-17,55,3
3,RBK,WALSALL HEALTHCARE NHS TRUST,2020-04-17,99,1
1,R1A,WORCESTERSHIRE HEALTH AND CARE NHS TRUST,2020-04-17,9,0
7,RL1,THE ROBERT JONES AND AGNES HUNT ORTHOPAEDIC HO...,2020-04-17,2,0
11,RLY,NORTH STAFFORDSHIRE COMBINED HEALTHCARE NHS TRUST,2020-04-17,1,0
15,RRJ,THE ROYAL ORTHOPAEDIC HOSPITAL NHS FOUNDATION ...,2020-04-17,2,0
25,RYW,BIRMINGHAM COMMUNITY HEALTHCARE NHS FOUNDATION...,2020-04-17,14,0